name: Build Native Linux Packages

on:
  workflow_dispatch:
    inputs:
      artifact_group:
        type: string
        default: gfx94X-dcgpu
      artifact_run_id:
        description: workflow run id to download the artifacts from
        type: string
      rocm_version:
        description: ROCm version to append to the package (8.0.0, 8.0.1rc1, ...).
        type: string
        default: "0.0.1"
      native_package_type:
        description: Specify whether debian or rpm packages are needed (deb or rpm).
        required: true
        type: choice
        options:
          - rpm
          - deb
        default: "rpm"
      package_suffix:
        description: The suffix to be added to package name (asan, static or rpath).
        type: string
        required: false
      release_type:
        description: The type of release to build ("dev", "nightly", or "prerelease"). All developer-triggered jobs should use "dev"!
        type: string
        default: "dev"
      ref:
          description: "Branch, tag or SHA to checkout. Defaults to the reference or SHA that triggered the workflow."
          type: string
          default: ''

permissions:
  id-token: write
  contents: read

run-name: Build native Linux packages (${{ inputs.artifact_group }}, ${{ inputs.rocm_version }}, ${{ inputs.native_package_type }}, ${{ inputs.package_suffix }}, ${{ inputs.release_type }})

jobs:
  release:
    name: Release native Linux packages (${{ inputs.artifact_group }}, ${{ inputs.rocm_version }}, ${{ inputs.native_package_type }}, ${{ inputs.package_suffix }}, ${{ inputs.release_type }})
    strategy:
      fail-fast: false

    uses: ROCm/TheRock/.github/workflows/build_native_linux_packages.yml@main
    with:
      artifact_group: ${{ inputs.artifact_group }}
      artifact_run_id: ${{ github.run_id }}
      rocm_version: ${{ inputs.rocm_version }}
      native_package_type: ${{ inputs.native_package_type }}
      package_suffix: ${{ inputs.package_suffix || '' }}
      release_type: ${{ inputs.release_type }}
      repository: "ROCm/TheRock"
      ref: ${{ inputs.ref }}
    permissions:
      actions: write
      contents: write
      id-token: write
