name: Release Windows packages

on:
  # Trigger manually (typically to test the workflow or manually build a release [candidate])
  workflow_dispatch:
    inputs:
      release_type:
        description: The type of release to build ("dev", "nightly", or "prerelease"). All developer-triggered jobs should use "dev"!
        type: choice
        options:
          - dev
          - nightly
          - prerelease
        default: dev
      package_suffix:
        type: string
      s3_subdir:
        description: "Subdirectory to push the Python packages"
        type: choice
        options:
          - v2
          - v3/whl
        default: v2
      s3_staging_subdir:
        description: "Staging subdirectory to push the packages"
        type: choice
        options:
          - v2-staging
          - v3/whl-staging
        default: v2-staging
      families:
        description: "A comma separated list of AMD GPU families, e.g. `gfx94X,gfx103x`, or empty for the default list"
        type: string
      prerelease_version:
        description: "(Optional) Number of the prerelease"
        type: string
      extra_cmake_options:
        description: "Extra options to pass to the CMake configure command"
        type: string
      ref:
        description: "Branch, tag or SHA to checkout. Otherwise, uses the default branch."
        type: string
        default: main
#   # Trigger on a schedule to build nightly release candidates.
#   schedule:
#     # Runs at 04:00 AM UTC, which is 8:00 PM PST (UTC-8)
#     - cron: '0 04 * * *'

permissions:
  contents: read

run-name: Release Windows packages (${{ inputs.families || 'default' }}, ${{ inputs.release_type || 'nightly' }})

jobs:
  linux_packages:
    name: Build
    uses: ROCm/TheRock/.github/workflows/release_windows_packages.yml@main
    secrets: inherit
    with:
      release_type: ${{ inputs.release_type }}
      package_suffix: ${{ inputs.package_suffix || '' }}
      s3_subdir: ${{ inputs.s3_subdir }}
      s3_staging_subdir: ${{ inputs.s3_staging_subdir }}
      families: ${{ inputs.families || '' }}
      prerelease_version: ${{ inputs.prerelease_version || '' }}
      extra_cmake_options: ${{ inputs.extra_cmake_options || '' }}
      repository: "ROCm/TheRock"
      ref: ${{ inputs.ref }}
    permissions:
      actions: write
      contents: write
      id-token: write
